@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h2 {
   font-family: 'Lobster', cursive;
   color: rgba(0, 0, 0, 0.534);
   font-size: 20px;
}
   a:link, a:visited, a:active {
      text-decoration:none;
      color: black;
  }

#tituloFondo {
   color: white;
   margin: 2.5%;
   font-family: 'lobster';
}

#descripcion {
   color: white;
   margin: 2.5%;
   font-family: sans-serif;
   font-size: 20px;
   margin: 2.5%;
}

#subtitulosGrandes {
   color: black;
   font-size: 30px;
   font-family: sans-serif;
}

div {
   background-color: black;
   background-image:
   linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url(../img/lemon-pie.png);
   background-position: center;
   background-size: cover;
}


#enfasis {
   color: coral;
   text-decoration: underline;
}
